<div class="titulo">
  <h1>{{ title }}</h1>
</div>

<div class="mudaTitulo">
  <input type="text" #meuinput/><br/><br>
  <button (click)="mudarTitulo(meuinput.value)">Escreva novo titulo</button>
</div>

<div class="imagem">
  <h3>Altere o tamanho da imagem abaixo</h3>
  <img
    [src]="imgSrc"
    [width]="imgSize">
  <input
    type="number"
    value="200"
    (click)="mudarImgSize(inputImg.value)"
    #inputImg/>
  <br/><br>
</div>

<div class="fonte">
  <h2>Mudando o CSS</h2>
  <h5>Se a entrada for negativa, fica vermelho, caso contrário, permanece preto</h5>
  <input type="number" (click)="mudarValor(meuinputvalor.value)" value="0" #meuinputvalor/><br/><br/>
  <div  [class.negativo]="valor < 0">
      {{ valor }}
  </div>
</div>

<br/><br/>
<div class="diretivasIf">
  <h2>Usando Diretivas Estruturais (ngIf)</h2>
  <div *ngIf="valor < 0">
    O valor deverá ser maior que zero
</div>
</div>

<br/><br/>
<div class="diretivasFor">
  <h2>Usando Diretivas Estruturais (ngFor)</h2>
  <table>
    <thead>
      <th>Nome</th>
      <th>Idade</th>
      <th>Telefone</th>
      <th>Gênero</th>
      <th>Excluir</th>
      <th>Detalhes</th>
    </thead>
    <tr *ngFor="let pessoa of pessoas">
      <td>{{pessoa.nome}}</td>
      <td>{{pessoa.idade}}</td>
      <td>{{pessoa.telefone}}</td>
      <td>{{pessoa.sexo}}</td>
      <td><button title="Excluir">Excluir</button></td>
      <td><button title="Detalhes">Detalhes</button></td>
    </tr>
  </table>
</div>

<br/><br/>
<div class="model">
  <h2>Usando Model no Angular (two-way binding)</h2><br/><br/>
  Nome: <input type="text" name="nome" [(ngModel)]="model.nome"><br/><br/>
  Idade: <input type="text" name="idade" [(ngModel)]="model.idade"><br/><br/>
  Telefone: <input type="text" name="telefone" [(ngModel)]="model.telefone"><br/><br/>
  Gênero:
  <input type="radio" name="sexo" id="sexo" value="Masculino" [(ngModel)]="model.sexo"> Masculino &nbsp;&nbsp;
  <input type="radio" name="sexo" id="sexo" value="Feminino"[(ngModel)]="model.sexo"> Feminino <br><br/>
  <button (click)="addPessoa()">Adicionar</button><br/><br/>
  {{ model | json }}
</div>

<br/><br/>
<div [style]="divStyle">
  <h2>Mudando o CSS (Styles)</h2>
  <div >
    <marquee
      direction="right"
      scrollamount=20
      truespeed=10000
    >
      Meu Texto
    </marquee>
</div>
</div>




